@import url('https://fonts.googleapis.com/css?family=Merriweather');

html {
  background: url(./wall_pic.jpg) no-repeat center center fixed;
  background-size: cover;
}

.sheet {
  margin-left: 36px;
  margin-right: 36px;
  min-width: 480px;
  max-width: 800px;
  position: absolute;

  padding: 16px;
  color: #b2e2e2;
  font-family: 'Merriweather', serif;
  background-color: rgba(18,28,17, 0.5);

}


h1 {
  font-size: 64px;
}

p {
  font-size: 28px;
}


a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


.subject-diseco a {
  color: #f6eff7;
}
.subject-conbio a {
  color: #bdc9e1;
}
.subject-datsci a {
  color: #67a9cf;
}
.subject-evoant a {
  color: #02818a;
}
